<%- include("partials/header") %>
<h1>THIS WILL BE THE SHOW PAGE SOON!!</h1>


<p><%= machine.brand %></p>

<img src="../<%= machine.image %>">

<p><%= machine.location %></p>

<%- include("partials/footer") %>