<%- include("../partials/header") %>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center;">Edit
                <%= user.name %>
            </h1>
            <div style="width: 30%; margin: 25px auto;">
                <form action="/users/<%= user._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input class="form-control" type="text" name="form[username]" value="<%= user.username %>" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="form[name]" value="<%= user.name %>" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" name="form[age]" value="<%= user.age %>" min="18" max="70">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="form[email]" value="<%= user.email %>" required>
                    </div>
                    <div class="form-group">
                        <label for="charge">Worker Charge:</label>
                        <select class="form-control" id="charge" name="form[charge]" required>
                                <option value="SYSTEMADMIN">System Admin</option>
                                <option value="Seller">Seller</option>
                                <option value="Administrator">Administrator</option>
                                <option value="Client">Client</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="salary">Salary: </label>
                        <input class="form-control" id="salary" type="number" name="form[salary]" value="<%= user.contract.salary %>" min="8" required>
                    </div>
                    <div class="form-group">
                        <label for="start_date">Start Date: </label>
                        <input class="form-control" id="start_date" type="date" name="form[start_date]" value="<%= user.contract.start_date %>" required>
                    </div>
                    <div class="form-group">
                        <label for="due_date">Due Date: </label>
                        <input class="form-control" id="due_date" type="date" name="form[due_date]" value="<%= user.contract.due_date %>" required>
                    </div>
                    <div class="form-group">
                        <label for="workplace">Workplace: </label>
                        <select class="form-control" id="workplace" name="form[workplace]" required>
                            <option value="Medellin">Medellin</option>
                            <option value="Bogota">Bogota</option>
                            <option value="Cali">Cali</option>
                            <option value="Bucaramanga">Bucaramanga</option>
                            <option value="Cartagena">Cartagena</option>
                            <option value="Cucuta">Cucuta</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="file">Profile Image:</label>
                        <input class="form-control" id="file" type="file" name="form[user_image]">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Confirm profile´s info!</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <%- include("../partials/footer") %>